@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP MVC, Windows Containers and Docker</h1>
    <p class="lead">Served by HOSTNAME: @Environment.MachineName</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sample WebApp running in Windows Container</h2>
    </div>
</div>